{% include 'FOSUserBundle::layout.html.twig' %}


<form class="container" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Les derniers inscrits</h1>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h4 class="col-md-3">Pseudo </h4>
      <h4 class="col-md-3">Prenom </h4>
      <h4 class="col-md-3">Sexe </h4>
      <h4 class="col-md-3">Sport pratiqué </h4>





      {% for user in user %}

      <div class="col-md-3">{{ user.username }}</div>
      <div class="col-md-3">{{ user.prenom }}</div>
      <div class="col-md-3">{{ user.sexe}}</div>
      <div class="col-md-3">{{ user.sport}}</div>


      {% endfor %}
    </div>
  </div>
</form>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="col-md-offset-4 col-md-2 text-center">
<a href="{{ path('RencontrePublic_new') }}"><button type="button" name="name" value="" class="btn-primary">Créer une rencontre </button></a>
</div>

<div class="col-md-2 text-center">
<a href="{{ path('RencontrePublic_show') }}"><button type="button" name="name" value="" class="btn-primary">Voir les rencontres publics </button></a>
</div>

{% else %}
<div class="col-md-12 text-center">
<a href="{{ path('fos_user_registration_register') }}"><button type="button" name="name" value="" class="btn-primary">Inscrivez-vous !</button></a>
</div>

<div class="col-md-12 text-center">
<p>
  Déjà inscrit ? <a href="{{ path('fos_user_security_login') }}">Connectez-vous !</a>
</p>
</div>
{% endif %}
