{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<form class="col-md-offset-3 col-md-6 text-center">
  <h3>{{ rencontrePublic.nomGroupe }}</h3>
  <h3>{{ rencontrePublic.sport }}</h3>
  <h3>{{ rencontrePublic.description }}</h3>
  <h3>{{ rencontrePublic.lieu }}</h3>
  <h3>{{ rencontrePublic.date|date("d/m/Y")}}</h3>
  <div class="col-md-12 text-center">
    <a href= "{{ path ('sportogether_join-rencontre' ,{'id': rencontrePublic.id}) }}"><button class="btn-primary" type="button" name="button">Participer à la rencontre</button></a>
  </div>

</form>


<div class="col-md-12 text-center">
  <a href="{{ path('RencontrePublic_show') }}"><button class="btn-primary" type="button" name="button">Retour Rencontre Public</button></a>
</div>

{% endblock fos_user_content %}
